*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color:hsl(0, 0%, 100%);
  border-radius: 20px;
  text-align: center;
  padding-bottom: 2rem;
}
.card__qrimage{
  width: 100%;
  border-radius: 15px;
}
.card__text--title{
  font-weight: 700;
  padding: 1rem;
  color: hsl(218, 44%, 22%);
}
.card_text--info{
  font-weight: 400;
  margin: 0 22px;
  color: hsl(220, 15%, 55%);
}
.attribution{
  font-size:15px;
  text-align: center;
  margin-top: 0.5rem;
}